# Environment
.env
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Data
data/ohlcv/*.parquet
data/messages.txt
data/.trading.lock
data/.trading_status.json
data/.ws_key_cache.json

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
